---
http_interactions:
- request:
    method: post
    uri: <SOLANA_RPC_URL>
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"getAsset","params":{"id":"8xuTGix1jPvt9vRrtiQdCXSLVkoK7zJ3QmkYvM4j8wbY"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Helius-Origin-Latency:
      - '78'
      Helius-Request-Type:
      - das
      Helius-Router-Overhead:
      - '45'
      Helius-Total-Latency:
      - '123'
      X-Region:
      - fra
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"interface":"V1_NFT","id":"8xuTGix1jPvt9vRrtiQdCXSLVkoK7zJ3QmkYvM4j8wbY","content":{"$schema":"https://schema.metaplex.com/nft1.0.json","json_uri":"https://entities.nft.helium.io/112gc4K2Z5GndZYKyWiWBh8HXrVT31QKULcCn8fsSuoncySdTEsE","files":[{"uri":"https://shdw-drive.genesysgo.net/CsDkETHRRR1EcueeN346MJoqzymkkr7RFjMqGpZMzAib/hotspot.png","cdn_uri":"https://cdn.helius-rpc.com/cdn-cgi/image//https://shdw-drive.genesysgo.net/CsDkETHRRR1EcueeN346MJoqzymkkr7RFjMqGpZMzAib/hotspot.png","mime":"image/png"}],"metadata":{"attributes":[{"value":"112gc4K2Z5GndZYKyWiWBh8HXrVT31QKULcCn8fsSuoncySdTEsE","trait_type":"ecc_compact"},{"value":true,"trait_type":"rewardable"}],"description":"A
        hotspot NFT on Helium","name":"zany-sapphire-tarantula","symbol":"HOTSPOT","token_standard":"NonFungible"},"links":{"image":"https://shdw-drive.genesysgo.net/CsDkETHRRR1EcueeN346MJoqzymkkr7RFjMqGpZMzAib/hotspot.png"}},"authorities":[{"address":"Ack8xgrYtm2aAKUnx3TfKw6NiNFTr3HM3iDuYQgKNo8d","scopes":["full"]}],"compression":{"eligible":false,"compressed":true,"data_hash":"7mtH1SeThF7tRHjrHdeGcgaPTnxjZDszDJw2R5KDDrsK","creator_hash":"GuBHQ5zhrHdkADX8ttpGvSYPQB2M6K5Zcj2qq5HogPgQ","asset_hash":"CBHq77PfxRpKcN8YFL4Lf3yph9U8obk9QqgEUWFawCxb","tree":"2Jwd1qm2LMSrG8bxQ4ikXzvmgm74mZnrBVvq8DSMVUUU","seq":357,"leaf_id":356},"grouping":[{"group_key":"collection","group_value":"9JpM1VAnjhaPWNFf5iVD8CJWAwpV9ebKGyNoUBmcTWtC"}],"royalty":{"royalty_model":"creators","target":null,"percent":0.0,"basis_points":0,"primary_sale_happened":true,"locked":false},"creators":[{"address":"Fv5hf1Fg58htfC7YEXKNEfkpuogUUQDDTLgjGWxxv48H","share":100,"verified":true}],"ownership":{"frozen":false,"delegated":false,"delegate":null,"ownership_model":"single","owner":"2ies7cf1oXPB9fMcdzmmydTXKyhnCXWSaB5sPWi5FYKw"},"supply":{"print_max_supply":0,"print_current_supply":0,"edition_nonce":null},"mutable":true,"burnt":false},"id":1}'
  recorded_at: Sun, 20 Jul 2025 09:14:34 GMT
- request:
    method: get
    uri: https://entities.nft.helium.io/112gc4K2Z5GndZYKyWiWBh8HXrVT31QKULcCn8fsSuoncySdTEsE
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sun, 20 Jul 2025 08:44:40 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"name":"Zany Sapphire Tarantula","description":"A Rewardable NFT on
        Helium","image":"https://entities.nft.helium.io/v2/assets/hotspot-iot.png","asset_id":"8xuTGix1jPvt9vRrtiQdCXSLVkoK7zJ3QmkYvM4j8wbY","key_to_asset_key":"DzMDXGvEskaDnCj9u53yag3HmQ2ebzTUSe3DC6YnJ615","entity_key_b64":"AADdn3AX1HIZdqjUTykzQz3TLeKx+jY1pZK+4n80i+ZY76WC76U=","key_serialization":"b58","entity_key_str":"112gc4K2Z5GndZYKyWiWBh8HXrVT31QKULcCn8fsSuoncySdTEsE","hotspot_infos":{"iot":{"location":null},"mobile":{"address":"6vuUgMCvRiuu6cd7ng7DMbigvcSfCRe1krYVxJvQYENm","asset":"8xuTGix1jPvt9vRrtiQdCXSLVkoK7zJ3QmkYvM4j8wbY","street":"Surrey
        Place","city":null,"state":"Georgia","country":"United States","is_active":false,"device_type":"cbrs","location":"8c44c0960ba4dff","dc_onboarding_fee_paid":"4000000","created_at":"2023-05-04T14:05:32.554Z","lat":32.457218,"long":-83.668831}},"attributes":[{"trait_type":"ecc_compact","value":"112gc4K2Z5GndZYKyWiWBh8HXrVT31QKULcCn8fsSuoncySdTEsE"},{"trait_type":"entity_key_string","value":"112gc4K2Z5GndZYKyWiWBh8HXrVT31QKULcCn8fsSuoncySdTEsE"},{"trait_type":"entity_key","value":"AADdn3AX1HIZdqjUTykzQz3TLeKx+jY1pZK+4n80i+ZY76WC76U="},{"trait_type":"rewardable","value":true},{"trait_type":"networks","value":["mobile"]},{"trait_type":"mobile_city","value":null},{"trait_type":"mobile_state","value":"Georgia"},{"trait_type":"mobile_country","value":"United
        States"},{"trait_type":"mobile_lat","value":32.457218},{"trait_type":"mobile_long","value":-83.668831}]}'
  recorded_at: Sun, 20 Jul 2025 09:14:34 GMT
- request:
    method: post
    uri: <SOLANA_RPC_URL>
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"getAccountInfo","params":["6vuUgMCvRiuu6cd7ng7DMbigvcSfCRe1krYVxJvQYENm",{"encoding":"jsonParsed","commitment":"finalized"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Helius-Origin-Latency:
      - '61'
      Helius-Request-Type:
      - rpc
      Helius-Router-Overhead:
      - '58'
      Helius-Total-Latency:
      - '119'
      X-Via:
      - fra4
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","id":1,"result":{"context":{"slot":354525665,"apiVersion":"2.2.7"},"value":{"lamports":1677360,"data":["ech00Snx5Lh2VA/NFP98tHoG4dVe4ebJCPqGq4Rt0iBgkmMtWW24g/4B/026YAlMxAgBAQAAAAk9AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=","base64"],"owner":"hemjuPXBpNvggtaUnN1MwT3wrdhttKEfosTcc2P9Pg8","executable":false,"rentEpoch":18446744073709551615,"space":113}}}'
  recorded_at: Sun, 20 Jul 2025 09:14:35 GMT
recorded_with: VCR 6.3.1
