<nav class="border-b border-gray-200 bg-white">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="flex h-16 justify-between">
      <div class="flex">
        <div class="flex shrink-0 items-center">
          <%= image_tag "logo.webp", class: "block h-8 w-auto rounded-md", alt: "Relay" %>
        </div>

        <div class="-my-px ml-6 flex space-x-8">
          <% links.map do |link| %>
            <%= 
              link_to(
                link[:name],
                link[:path],
                class: class_names(
                  "inline-flex items-center border-b-2",
                  { "border-indigo-500 px-1 pt-1 text-sm font-medium text-gray-900" => current_page?(link[:path]) },
                  { "border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700" => !current_page?(link[:path]) }
                )
              ) %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>
